<!DOCTYPE html>
<html>
    <head>
        <title>Chess Symfony</title>
        <meta charset="UTF-8">
    </head>
    <body>
    <h1> Welcome to Chess Symfony!! </h1>
        <button onclick="location.href='create'">START</button>
        <button href="#">JOIN</button>
    </body>
</html>