<!DOCTYPE html>
<html>
    <head>
        <title>Chess Symfony</title>
        <meta charset="UTF-8">
    </head>
    <body>
    <h1> Join a game by the ID </h1>
        {{ form(gamejoin) }}
    </body>
</html>